.container { 
    max-width: 100%;
}

.sidebar { 
    position: relative;
    width: 256px;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 24px;
    transition: .3s ease-in-out;
    position: fixed;
}

.sidebar .head { 
    display: flex; 
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #0000;
}

.user-image { 
    width: 44px; 
    height: 44px; 
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.user-image img { 
    width: 100%;
    object-fit: cover;
}

.user-details .user-name { 
    font-size: 14px;
    font-weight: 400;
}

.menu,
.user-details .user-phone{ 
   font-size: 14px; 
   font-weight: 400;
   color: #757575;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.menu ul li { 
    margin-bottom: 15px;
}

.menu ul li a { 
    display: flex; 
    align-items: center;
    font-size: 16px;
    font-weight: 700;   
    justify-content: space-between;
    padding: 8px 8px;
    transition: background-color .2s ease-in-out;
}

.menu ul li:hover a { 
    background-color: var(--hover-color);
    transition: background-color .1s ease-in-out;
}

.active { 
    background-color: var(--active-color);
    transition: background-color .1s ease-in-out;
}

.menu ul li .icon { 
    font-size: 25px;
}

.sidebar .menu-btn { 
    position: absolute;
    font-size: 20px;
    right: -25px; 
    top: 3.5%;
    width: 28px; 
    height: 28px; 
    border-radius: 0 3px 3px 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
}

.menu-btn i { 
    transition: .1s ease-in-out;
}

.sidebar.close { 
    width: 92px;
}

.sidebar.close .menu-btn i{ 
    transform:rotate(180deg);
}

.sidebar.close .user-details { 
  display: none;
}

.sidebar.close .menu .title { 
    text-align: center;
  }

  .sidebar.close .menu > ul > li > a { 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar.close .menu > ul > li > a .text { 
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #ffff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .sidebar.close .menu > ul > li > a .text::after { 
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 2px; 
    background-color: #000;
    transform: rotate(45deg) translateY(-50%);
    z-index: -1;
  }

  .sidebar.close .menu > ul > li > a:hover .text { 
    left: 50px;
    opacity: 1;
    visibility: visible;
  }