@import '@components/product/product.css';
@import '@components/popup/popup.css';

.main-container {
    max-width: 1100px;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile {
    background-color: #fff;
    /* display: none; */
    border-radius: 0 0 10px 10px;
    flex-grow: 1;
}

.profile-content { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    align-items: start;
    width: 100%;
}

/* Личный кабинет */
.profile-avatar { 
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: #000 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 15px #000;
  position: relative;
  transition: .3s ease-in-out;
}

.profile-button-changes { 
    cursor: pointer;
}

.profile-avatar .hover-overlay { 
    position: absolute;
    top: 0;
    background-color: #b9b9b990;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    background-image: url("../../image/pen.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
}

.profile-avatar:hover .hover-overlay { 
   opacity: 1;
}

.profile-avatar img { 
    max-width: 100%;
}

.profile-information { 
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-name, .profile-email, .profile-phone { 
    display: flex;
    flex-direction: column;
}

.name, .email, .phone { 
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.profile-name span, .profile-email span, .profile-phone span { 
   color: grey;
   font-size: 14px;
}

/* Продукты */

.button-create-product-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.products { 
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.create-product {
    width: 100%;
    padding: 20px;
    border: dashed 3px rgba(0, 0, 0, 0.274);
    color: rgba(0, 0, 0, 0.274);
    transition: all .2s ease-in-out;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.create-product:hover { 
    border: dashed 3px rgba(0, 0, 0, 0.178);
    color: rgba(0, 0, 0, 0.178);
    transition: all .2s ease-in-out;
}