.product {
    width: 250px;
    height: 250px;
    background-color: #ffff;
}
.title-wrapper {
}
.title-product {
}
.image-product-wrapper {
}
.image-product {
}
.description-product-wrapper {
}
.description-product {
}
.buy-product {
}
.buy {
}