.product {
    background-color: #ffff;
    max-width: 500px;
}

.product-container { 
    text-align: center;
    max-width: 500px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.title-product {
    padding: 10px 0 10px 0;
    background-color: #F3D250;
    color: #000;
    font-weight: bold;
}

.image-product-wrapper {
   width: 500px;
   height: 3%;
   overflow: hidden;
}

.image-product {
    width: 100%;
  height: 100%;
  object-fit: contain; /* или cover */
  display: block; 
}

.description-product-wrapper {
    padding: 10px 5px 10px 5px;
    height: 300px;
}
.description-product {
    color: #000;
    font-weight: bold;
}

.price-product {
   padding: 10px 0 10px 0;
}

.price {
    color: #000;
    font-weight: bold;
}

.buy-product {
    max-width: 100%;
    margin-top: auto;
}
.buy {
    background-color: #F3D250;
    color: #000;
    transition: color .3s ease-in-out, background-color .4s ease-in-out;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* effect hover */

.buy:hover { 
    background-color: #000;
    color: #F3D250;
    transition: color .4s ease-in-out, background-color .5s ease-in-out;
}