.post {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 1px solid #000;
    margin-top: 20px;
    padding: 15px;
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-head .trash:hover {
    fill: red;
    transform: scale(1.1);
}

.post-head .post-head-info { 
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-head .post-image { 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.post-head .post-image img { 
    object-fit: cover;
}

.post-name {
    text-transform: capitalize;
}

.post-text {
    padding: 12px;
}

.post-reactions-buttons { 
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.button-like, .button-dislike, .button-favourites, .trash-delete{ 
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

/* svg */

.button-like:hover svg path{ 
    fill: rgb(54, 63, 146);
}

.button-dislike:hover svg path{ 
    fill: red;
}

.button-favourites:hover svg path{ 
    fill: #bebe1b;
}

/* classes javascript */
@keyframes scaleReactions {
    from { 
        transform: scale(1);
    }

    to { 
        transform: scale(1.25);
    }
}

.favourites-fill{ 
    fill: #bebe1b;
    animation: scaleReactions 0.3s ease-in-out alternate;
    transition: all 0.3s ease-in;
    transform-origin: center;
}

.like-fill { 
    fill: rgb(54, 63, 146);
    animation: scaleReactions 0.3s ease-in-out alternate;
    transition: all 0.3s ease-in;
    transform-origin: center;
}

.dislike-fill{ 
    fill: red;
    animation: scaleReactions 0.3s ease-in-out alternate;
    transition: all 0.3s ease-in;
    transform-origin: center;
}