/* styles components */
@import url('@components/sidebar-menu/sidebar-menu.css');
@import url('@components/popup-product/popup-product.css');
/* style pages */
@import url('@styles/globals.css');
@import url('@styles/home.css');
@import url('@styles/404.css');
@import url('@styles/main.css');
@import url('@styles/searchProducts.css');
@import url('@styles/form-registration.css');
/* variables */
@import url('@variables/variables.css');




html { 
    height: 100%;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    min-height: 100vh;
    background-color: #3182ce;
}

main {
    flex-grow: 1;
    max-height: 100%;
}

.layout { 
    display: flex;
}

.button { 
    background-color: #F3D250;
    color: #000;
    transition: color .3s ease-in-out, background-color .4s ease-in-out;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button:hover { 
        background-color: #000;
        color: #F3D250;
        transition: color .4s ease-in-out, background-color .5s ease-in-out;
}