.popup-content {
    background-color: #fff;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.close-button {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 30px;
}

.button-close__popup { 
    font-size: 21px;
}

.popup-content__image {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content__image img {
    max-width: 100%;
}

.popup-content__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.box-text__product {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    align-items: center;
}

.popup-content__title-product {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
}

#popup-content__description {
    font-size: 20px;
    color: #000;
    font-weight: 300;
}

.star-icons { 
    font-size: 30px;
}

